astroid==2.15.6 ; python_version >= "3.11" and python_version < "4.0"
bandit==1.7.5 ; python_version >= "3.11" and python_version < "4.0"
cfgv==3.3.1 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
coverage==7.2.7 ; python_version >= "3.11" and python_version < "4.0"
dill==0.3.7 ; python_version >= "3.11" and python_version < "4.0"
distlib==0.3.7 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.12.2 ; python_version >= "3.11" and python_version < "4.0"
flake8-quotes==3.3.2 ; python_version >= "3.11" and python_version < "4.0"
flake8==6.0.0 ; python_version >= "3.11" and python_version < "4.0"
gitdb==4.0.10 ; python_version >= "3.11" and python_version < "4.0"
gitpython==3.1.32 ; python_version >= "3.11" and python_version < "4.0"
identify==2.5.26 ; python_version >= "3.11" and python_version < "4.0"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
isort==5.12.0 ; python_version >= "3.11" and python_version < "4.0"
lazy-object-proxy==1.9.0 ; python_version >= "3.11" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
mypy==1.4.1 ; python_version >= "3.11" and python_version < "4.0"
nodeenv==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.11" and python_version < "4.0"
parameterized==0.8.1 ; python_version >= "3.11" and python_version < "4.0"
pbr==5.11.1 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==3.9.1 ; python_version >= "3.11" and python_version < "4.0"
pluggy==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
pre-commit==3.3.3 ; python_version >= "3.11" and python_version < "4.0"
pycodestyle==2.10.0 ; python_version >= "3.11" and python_version < "4.0"
pyflakes==3.0.1 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.15.1 ; python_version >= "3.11" and python_version < "4.0"
pylint==2.17.5 ; python_version >= "3.11" and python_version < "4.0"
pytest==7.4.0 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
rich==13.4.2 ; python_version >= "3.11" and python_version < "4.0"
setuptools==68.0.0 ; python_version >= "3.11" and python_version < "4.0"
smmap==5.0.0 ; python_version >= "3.11" and python_version < "4.0"
stevedore==5.1.0 ; python_version >= "3.11" and python_version < "4.0"
tomlkit==0.12.0 ; python_version >= "3.11" and python_version < "4.0"
types-cachetools==5.3.0.6 ; python_version >= "3.11" and python_version < "4.0"
types-deprecated==1.2.9.3 ; python_version >= "3.11" and python_version < "4.0"
types-pyyaml==6.0.12.11 ; python_version >= "3.11" and python_version < "4.0"
types-requests==2.31.0.2 ; python_version >= "3.11" and python_version < "4.0"
types-retry==0.9.9.4 ; python_version >= "3.11" and python_version < "4.0"
types-urllib3==1.26.25.14 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.11" and python_version < "4.0"
virtualenv==20.24.2 ; python_version >= "3.11" and python_version < "4.0"
wrapt==1.15.0 ; python_version >= "3.11" and python_version < "4.0"
