aws-error-utils==2.7.0 ; python_version >= "3.11" and python_version < "4"
aws-sso-lib==1.14.0 ; python_version >= "3.11" and python_version < "4.0"
boto3-stubs==1.28.12 ; python_version >= "3.11" and python_version < "4.0"
boto3==1.28.12 ; python_version >= "3.11" and python_version < "4.0"
botocore-stubs==1.31.12.post1 ; python_version >= "3.11" and python_version < "4.0"
botocore==1.31.12 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.6 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
colorlog==6.7.0 ; python_version >= "3.11" and python_version < "4.0"
dataclasses-json==0.5.9 ; python_version >= "3.11" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.11" and python_version < "4.0"
dynaconf==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
marshmallow-enum==1.5.1 ; python_version >= "3.11" and python_version < "4.0"
marshmallow==3.20.1 ; python_version >= "3.11" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.11" and python_version < "4.0"
prompt-toolkit==3.0.39 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.15.1 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
questionary==1.10.0 ; python_version >= "3.11" and python_version < "4.0"
rich==13.4.2 ; python_version >= "3.11" and python_version < "4.0"
s3transfer==0.6.1 ; python_version >= "3.11" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
types-awscrt==0.16.26 ; python_version >= "3.11" and python_version < "4.0"
types-boto3==1.0.2 ; python_version >= "3.11" and python_version < "4.0"
types-s3transfer==0.6.1 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.11" and python_version < "4.0"
typing-inspect==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
urllib3==1.26.16 ; python_version >= "3.11" and python_version < "4.0"
validators==0.20.0 ; python_version >= "3.11" and python_version < "4.0"
wcwidth==0.2.6 ; python_version >= "3.11" and python_version < "4.0"
yamldataclassconfig==1.5.0 ; python_version >= "3.11" and python_version < "4.0"
